

a.btn.btn-success {
    color: #fff !important;
    width: max-content !important;
    display: block !important;
    margin-bottom: 20px !important;
}

.btnEditar{
    background-color: rgb(255 111 43) !important;
    border: none;
    padding: 5px;
    border-radius: 3px;
} 

span.badge {
    padding: 6px 17px 4px 17px !important;
    border-radius: 3px !important;
}