.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgb(40 51 84 / 86%);
    z-index: 99;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modalContainer {
    width: 70%;
    height: 80%;
    border-radius: 12px;
    background-color: #FAFAFA;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.titleCloseBtnFechar {
    display: flex;
    justify-content: flex-end;
}

.titleCloseBtnFechar button {
    background-color: #121212;
    border: none;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50px;
    width: 42px;
    height: 42px;
    margin-top: -42px;
    margin-right: -42px;
    color: #fff;
}




.form-check-input.spacingTopNegativo[type=radio] {
    margin-top: -5px !important;
    position: relative !important;
}

.containerCheckRadio{
    background: #fff;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

.btn-success {
    margin-right: 30px !important;
}

.form-check label {
    margin: 10px 0px 0px 0px;
}